@font-face {
  font-family: "iconfont"; /* Project id 2606303 */
  src: url('//at.alicdn.com/t/font_2606303_3deulc1njga.woff2?t=1623562158295') format('woff2'),
       url('//at.alicdn.com/t/font_2606303_3deulc1njga.woff?t=1623562158295') format('woff'),
       url('//at.alicdn.com/t/font_2606303_3deulc1njga.ttf?t=1623562158295') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-I:before {
  content: "\e60d";
}

.icon-mail:before {
  content: "\e6ff";
}

.icon-fanhuidingbu:before {
  content: "\e6e6";
}

.icon-taiyang:before {
  content: '\e69b';
}

.icon-Shapecopy:before {
  content: '\e616';
}

.icon-guanbi:before {
  content: '\e695';
}

.icon-yejianmoshi:before {
  content: '\e611';
}

.icon-sousuo:before {
  content: '\e612';
}
