@font-face {
  font-family: "iconfont"; /* Project id 2606303 */
  src: url('//at.alicdn.com/t/font_2606303_0pfi9bbcsle.woff2?t=1623816716537') format('woff2'),
       url('//at.alicdn.com/t/font_2606303_0pfi9bbcsle.woff?t=1623816716537') format('woff'),
       url('//at.alicdn.com/t/font_2606303_0pfi9bbcsle.ttf?t=1623816716537') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e65e";
}

.icon-github:before {
  content: "\e7ab";
}

.icon-weibo-copy:before {
  content: "\e65a";
}

.icon-WeChat:before {
  content: "\e8db";
}

.icon-I:before {
  content: "\e60d";
}

.icon-mail:before {
  content: "\e6ff";
}

.icon-fanhuidingbu:before {
  content: "\e6e6";
}

.icon-taiyang:before {
  content: "\e69b";
}

.icon-Shapecopy:before {
  content: "\e616";
}

.icon-guanbi:before {
  content: "\e695";
}

.icon-yejianmoshi:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e612";
}
